<h1 style="color: brown;">Magdalena</h1>
<style>
          #thirdDiv {
            height: 600px;
            width: 500px;
            background-color: rgb(252, 116, 6);
            padding: 50px;
            border: 1px solid black
            } 
            
            #spanId {
              font-size: 18px;
              margin: 50px;
                     </style></div>